<div class="container">
  <h1>Angular Nepali Date Picker</h1>
  <p>
    A simple Nepali Date Picker (Bikram Sambat) library in angular with no
    dependancy.
  </p>

  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Examples</a>
      <ng-template ngbNavContent>
        
        <!-- # Basic Usage -->
        <div class="card">
          <h5 class="card-header">Basic Usage</h5>
          <div class="card-body">
            <div class="row">
              <div class="col col-6 html">
                <p>This is basic usage.</p>
                <np-datepicker [(ngModel)]="nepaliDate1" (ngModelChange)="dateChanged()"></np-datepicker>
                <div class="output">
                  <h4 class="output-title">Output:</h4>
                  <div *ngIf="nepaliDate1">
                    <p>day: {{ nepaliDate1.day }},</p>
                    <p>month: {{ nepaliDate1.month }},</p>
                    <p>year: {{ nepaliDate1.year }}</p>
                  </div>
                </div><!--.output ends-->
              </div><!--.col.code ends-->
              <div class="col html">
                <h3>Code</h3>
                <code>
                  &lt;np-datepicker [(ngModel)]="nepaliDate"&gt; &lt;/np-datepicker&gt;
                </code>
              </div><!--.col.code ends-->
            </div><!--.row ends-->
          </div><!--.card-body ends-->
        </div><!--.card ends-->
      </ng-template>
    </li>
    
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
